<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body>
    <%- include('includes/header') %>

    <main>
      <h2>Welcome To Dashboard</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
        consectetur illo odio quos, voluptas autem magnam? Exercitationem
        laborum ad vero.
      </p>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
