<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2>
        <a href="/">Login Page</a>
      </h2>
      <nav>
        <a href="/login">Login</a>
      </nav>
    </header>

    <main>
      <h3>Hello This is the homepage</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, labore
        numquam iusto ad consequuntur error! Et, aut veritatis. Hic, repudiandae
        suscipit tempore consequatur aut alias quaerat vitae earum illo dolorem!
      </p>
    </main>

    <footer>&copy; Our Wonderfull App</footer>
  </body>
</html>
